<mat-card class="card-with m-auto" >
    <mat-card-title class="md-margin">
        <p class="card-title">Hola, Ingresa a tu MiniBank</p>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form" (submit)="signIn()">
            <br>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="email">Correo electrónico</mat-label>
                    <input matInput [(ngModel)]="user.email" maxlength="50" type="email" [email]="true" name="email" #email="ngModel" id="email" placeholder="name@example.com" required>
                    <mat-error *ngIf="email.invalid && (email.touched)">Ingresa un email valido</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="password">Ingresa tu contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" maxlength="50" name="uaser.password"  #password="ngModel" id="password" required>
                    <mat-error *ngIf="password.invalid && (password.touched)">Ingresa tu contraseña</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <button [disabled]="password.invalid || email.invalid" mat-raised-button color="primary" class="full-width mt-field">Ingresar</button>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <div class="text-center" >
        <a routerLink="/signup" routerLinkActive="active">Abre tu cuenta, registrate aquí</a>
    </div>
</mat-card>