.full-width {
    width: 100%;
}
.card-with {
    width: 400px;
}
.text-center{
    text-align: center;
}
.m-auto{
    margin: auto;
}
.card-title{
    padding-top: 8px;
    padding-bottom: 8px;
}
.pt-field{
    padding-top: 8px;
}
.mt-field{
    margin-top: 8px;
}
.cursor-pointer{
    cursor: pointer;
}
.logo{
    width: 170px;
    margin-bottom: 30px !important;
}