<mat-card class="card-with m-auto card-color" >
    <mat-card-title>
        Tu saldo  {{actualBalance}}
    </mat-card-title>
</mat-card>
<br>
<mat-card class="card-with m-auto" >
    <mat-card-title class="md-margin">
        <p class="card-title">Cargar</p>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form" [formGroup]="form" (submit)="add()">
            <br>
            <div>
                <mat-form-field [formGroup]="form" appearance="fill" class="full-width pt-field">
                    <mat-label for="amount">Monto</mat-label>
                    <input matInput  formControlName="amount" maxlength="50" min="0" type="number" name="amount" id="amount" placeholder="0" required>
                    <mat-error *ngIf="form.controls.amount.invalid">Ingrese un monto superior a cero</mat-error>
                </mat-form-field>
            </div>
            <button [disabled]="form.controls.amount.invalid || !form.controls.amount" mat-raised-button color="primary" class="full-width mt-field">Cargar</button>
        </form>
    </mat-card-content>
</mat-card>