<p *ngIf="authService.loggedIn()">
  <mat-toolbar class="bg-color">
    <div class="container">
      <span>MiniBank</span>
      <span class="example-spacer"></span>
      &nbsp;
      <a mat-button routerLink="/add-money" routerLinkActive="active">Carga de saldo</a>
      <a mat-button routerLink="/withdraw-money" routerLinkActive="active">Retiro de saldo</a>
      <a mat-button routerLink="/transfer-money" routerLinkActive="active">Transferencia</a>
      <a mat-button routerLink="/movements" routerLinkActive="active">Listado de movimientos</a>
      
      <a mat-button class="float-right " style="cursor: pointer;" (click)="authService.logout()">Salir</a>
    </div>
  </mat-toolbar>
</p>
<div class="container pt-5">
  <router-outlet></router-outlet>
</div>