<mat-card class="card-with m-auto" >
    <mat-card-title class="md-margin">
        <p class="card-title">Regístrate</p>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form" (submit)="signUp()">
            <br>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="email">Nombre</mat-label>
                    <input matInput [(ngModel)]="user.name" maxlength="50" type="text" name="name" #name="ngModel" id="name" placeholder="name@example.com" required>
                    <mat-error *ngIf="name.invalid && (name.touched)">Ingresa un nombre valido</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="email">Correo electrónico</mat-label>
                    <input matInput [(ngModel)]="user.email" maxlength="50" type="email" [email]="true" name="email" #email="ngModel" id="email" placeholder="name@example.com" required>
                    <mat-error *ngIf="email.invalid && (email.touched)">Ingresa un email valido</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="password">Rut</mat-label>
                    <input matInput type="text" [(ngModel)]="user.rut" (blur)="rv()" maxlength="50" name="uaser.rut"  #rut="ngModel" id="rut" required>
                    <mat-hint *ngIf="(rut.untouched) || (rutValidator)">Ej: 11293307-7</mat-hint>
                    <div class="mat-form-field-subscript-wrapper rut-validator" *ngIf="(rut.invalid && rut.touched) || ((rut.touched) && !rutValidator)">
                        <div class="ng-tns-c118-2 ng-trigger ng-trigger-transitionMessages ng-star-inserted">
                            <mat-error role="alert" class="mat-error ng-tns-c118-1 ng-star-inserted">Ingresa un rut valido</mat-error>
                        </div>
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="password">Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" maxlength="50" name="uaser.password"  #password="ngModel" id="password" required>
                    <mat-error *ngIf="password.invalid && (password.touched)">Ingresa tu contraseña</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <mat-card-subtitle class="text-small">Todos los campos son obligatorios*</mat-card-subtitle>
            <button [disabled]="email.invalid || name.invalid || password.invalid || rut.invalid" mat-raised-button color="primary" class="full-width mt-field">Crear cuenta</button>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <div class="text-center" >
        <a routerLink="/signin" routerLinkActive="active">Ingresar</a>
    </div>
</mat-card>


<!-- <div class="mb-3">
    <label for="rut" class="form-label">Rut <span class="text-danger">*</span></label>
    <input id="rut" name="rut" [(ngModel)]="user.rut" (blur)="rv()" #rut="ngModel" min="0" type="text" class="form-control" placeholder="00000000-0" required>
    <p class="small mt-1 text-danger" *ngIf="rut.invalid && rut.touched && !rut">Ingrese un Rut valido</p>
    <p class="small mt-1 text-danger" *ngIf="rut.touched && !rutValidator">Ingrese un Rut valido</p>
</div> -->

<!-- <div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <strong>Registro</strong>
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre <span class="text-danger">*</span></label>
                            <input [(ngModel)]="user.name" type="text" name="uaser.name" name="name" #name="ngModel" class="form-control" id="name" placeholder="Nombre" required>
                            <p class="small mt-1 text-danger" *ngIf="name.invalid && name.touched">Ingrese un nombre</p>
                        </div>
                        <div class="mb-3">
                            <label for="rut" class="form-label">Rut <span class="text-danger">*</span></label>
                            <input id="rut" name="rut" [(ngModel)]="user.rut" (blur)="rv()" #rut="ngModel" min="0" type="text" class="form-control" placeholder="00000000-0" required>
                            <p class="small mt-1 text-danger" *ngIf="rut.invalid && rut.touched && !rut">Ingrese un Rut valido</p>
                            <p class="small mt-1 text-danger" *ngIf="rut.touched && !rutValidator">Ingrese un Rut valido</p>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo <span class="text-danger">*</span></label>
                            <input [(ngModel)]="user.email" type="email" name="uaser.email" #email="ngModel" [email]="true" class="form-control" id="email" placeholder="name@example.com" required>
                            <p class="small mt-1 text-danger" *ngIf="email.invalid && email.touched">Ingrese un email</p>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña <span class="text-danger">*</span></label>
                            <input [(ngModel)]="user.password" name="uaser.password" #password="ngModel" type="password" class="form-control" id="password" required>
                            <p class="small mt-1 text-danger" *ngIf="password.invalid && password.touched">Ingrese una contraseña</p>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->