<div class="card">
  <div class="card-header">
      <strong>Listado de movimientos</strong>
  </div>
<div class="card-body p-0">
  <table class="table table-striped" *ngIf="data.total != 0">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Monto</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movement of movements">
          <td>
            <span *ngIf="movement.movementType == 'ADD'">Carga</span>
            <span *ngIf="movement.movementType == 'WITHDRAW'">Retiro</span>
            <span *ngIf="movement.movementType == 'TRANSFERRED_TO'">Transferencia a</span>
            <span *ngIf="movement.movementType == 'TRANSFERRED_FROM'">Transferencia de</span>
          </td>
          <td>
            <span *ngIf="movement.movementType == 'TRANSFERRED_TO' || movement.movementType == 'WITHDRAW'">-</span>{{movement.amount}}
          </td>
          <td>{{movement.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
      </tbody>
  </table>
  <div class="container">
    <div class="row" *ngIf="data.total != 0">
      <div class="col">
        <div class="me-auto pt-1">{{ movements?.length || '0' }} registros de {{data.total}}</div>      
      </div>
      <div class="col">
        <nav aria-label="paginación">
          <ul class="pagination mt-0 d-inline">
            <li class="page-item" *ngFor="let item of movements | paginate: { itemsPerPage: data.itemsPerPage, currentPage: data.currentPage, totalItems: data.total }"></li>
          </ul>
        </nav>
        <pagination-controls class="float-lg-end" (pageChange)="getMovements($event)" previousLabel="Prev" nextLabel="Sig"></pagination-controls>
      </div>
    </div>
    <div *ngIf="data.total == 0" class="text-center d-block">
      <div class="pt-5 pb-5"><strong>No tienes movimientos</strong></div>
    </div>
  </div>
</div>