<mat-card class="card-with m-auto card-color" >
    <mat-card-title>
        Tu saldo  {{actualBalance}}
    </mat-card-title>
</mat-card>
<br>
<mat-card class="card-with m-auto" >
    <mat-card-title class="md-margin">
        <p class="card-title">Transferir</p>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form" (submit)="transfer()">
            <br>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="amount">Monto</mat-label>
                    <input matInput [(ngModel)]="dataTransfer.amount" maxlength="50" min="0" type="number" name="amount" #amount="ngModel" id="amount" placeholder="0" required>
                    <mat-error *ngIf="amount.invalid && (amount.touched)">Ingrese un monto superior a cero</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width pt-field">
                    <mat-label for="password">Rut</mat-label>
                    <input matInput type="text" [(ngModel)]="dataTransfer.rut" (blur)="rv()" maxlength="50" name="uaser.rut"  #rut="ngModel" id="rut" required>
                    <mat-error *ngIf="rut.invalid && rut.touched && !rut">Ingresa un Rut valido</mat-error>
                    <div class="mat-form-field-subscript-wrapper rut-validator" *ngIf="rut.touched && !rutValidator">
                        <div class="ng-tns-c118-2 ng-trigger ng-trigger-transitionMessages ng-star-inserted">
                            <mat-error role="alert" class="mat-error ng-tns-c118-1 ng-star-inserted">Ingresa un rut valido</mat-error>
                        </div>
                    </div>
                </mat-form-field>
            </div>
            <button [disabled]="amount.invalid || !rutValidator || rut.invalid" mat-raised-button color="primary" class="full-width mt-field">Transferir</button>
        </form>
    </mat-card-content>
</mat-card>

<!-- <div class="row">
    <div class="col-md-4 mx-auto">
        <h1><span class="badge bg-success mb-3 pb-3 pt-3 container-fluid">Tu saldo  {{actualBalance}}</span></h1>
        <div class="card">
            <div class="card-header">
                <strong>Transferencia</strong>
            </div>
            <div class="card-body">
                <div *ngIf="alertState" class="alert alert-dismissible fade show" [ngClass]="alertType === 'success' ? 'alert-success': 'alert-danger'" role="alert">
                    {{alertMessage}}<button type="button" (click)="alertClose()" class="btn-close" aria-label="Close"></button>
                </div>
                <form (submit)="transfer()">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="amount" class="form-label">Monto <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input id="amount" name="amount" [(ngModel)]="dataTransfer.amount" #amount="ngModel" min="0" type="number" (change)="alertState = false" class="form-control" placeholder="0" required>
                            </div>
                            <p class="small mt-2 text-danger" *ngIf="amount.invalid && (amount.touched)">Ingrese un monto superior a cero</p>
                        </div>
                        <div class="mb-3">
                            <label for="rut" class="form-label">Rut de destinatario <span class="text-danger">*</span></label>
                            <input id="rut" name="rut" [(ngModel)]="dataTransfer.rut" (blur)="rv()" #rut="ngModel" min="0" type="text" (change)="alertState = false" class="form-control" placeholder="26122583-0" required>
                            <p class="small mt-1 text-danger" *ngIf="rut.invalid && rut.touched && !rut">Ingrese un Rut valido</p>
                            <p class="small mt-1 text-danger" *ngIf="rut.touched && !rutValidator">Ingrese un Rut valido</p>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" [disabled]="!dataTransfer.amount || dataTransfer.rut == '' || !rutValidator">Transferir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->