<mat-card class="card-with m-auto card-color" >
    <mat-card-title>
        Tu saldo  {{actualBalance}}
    </mat-card-title>
</mat-card>
<br>
<mat-card class="card-with m-auto" >
    <mat-card-title class="md-margin">
        <p class="card-title">Transferir</p>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form" [formGroup]="form" (submit)="transfer()">
            <br>
            <div>
                <mat-form-field [formGroup]="form" appearance="fill" class="full-width pt-field">
                    <mat-label for="amount">Monto</mat-label>
                    <input matInput  formControlName="amount" maxlength="50" min="0" type="number" name="amount" id="amount" placeholder="0" required>
                    <mat-error *ngIf="form.controls.amount.invalid">Ingrese un monto superior a cero</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [formGroup]="form" appearance="fill" class="full-width pt-field">
                    <mat-label for="password">Rut</mat-label>
                    <input matInput formControlName="rut" type="text" (blur)="rv()" maxlength="50" name="rut" id="rut" required>
                    <mat-error *ngIf="form.controls.rut.invalid && form.controls.rut.touched">Ingresa un Rut valido</mat-error>
                    <mat-hint>Ej: 11293307-7</mat-hint>
                    <div class="mat-form-field-subscript-wrapper rut-validator" *ngIf="form.controls.rut.touched && !rutValidator">
                        <div class="ng-tns-c118-2 ng-trigger ng-trigger-transitionMessages ng-star-inserted">
                            <mat-error role="alert" class="mat-error ng-tns-c118-1 ng-star-inserted">Ingresa un rut valido</mat-error>
                        </div>
                    </div>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="full-width mt-field" [disabled]="form.controls.amount.invalid || !rutValidator || form.controls.rut.invalid">Transferir</button>
        </form>
    </mat-card-content>
</mat-card>